<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "css/metro_all.min.css" %}">
    <title>Teams</title>
  </head>
  <body>
    <div class = "container-fluid">
    <div class = "row px-5 m-5 py-10 border bd-gray border-radius-4 pt-5">
      <div class="row"><h4>Objectives on Track</h4></div>
      <div class="row">
          <div data-role="tile" data-size="wide">
            <img class="icon border border-radius-half" data-email="a@b.com" data-role="gravatar" data-size="40" data-default="identicon">
            <span class="branding-bar text-center">Vinod's team</span>
          </div>
          <div data-role="tile" data-size="wide">
            <img class="icon border border-radius-half" data-email="a@b.com" data-role="gravatar" data-size="40" data-default="identicon">
            <span class="branding-bar text-center">Yashu's team</span>
          </div>
          <div data-role="tile" data-size="wide">
            <img class="icon border border-radius-half" data-email="a@b.com" data-role="gravatar" data-size="40" data-default="identicon">
            <span class="branding-bar text-center">Adi's team</span>
          </div>
           <div data-role="tile" data-size="wide">
            <img class="icon border border-radius-half" data-email="a@b.com" data-role="gravatar" data-size="40" data-default="identicon">
            <span class="branding-bar text-center">Preeti's team</span>
          </div>
      </div>
    </div>
  </div>
  <script src="{% static "js/metro.min.js" %}"></script>
  </body>
</html>